Source: ros-melodic-franka-hw
Section: misc
Priority: optional
Maintainer: Franka Emika GmbH <support@franka.de>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-catkin, ros-melodic-combined-robot-hw, ros-melodic-controller-interface, ros-melodic-franka-description, ros-melodic-franka-msgs, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-libfranka, ros-melodic-message-generation, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-std-srvs, ros-melodic-urdf
Homepage: http://wiki.ros.org/franka_hw
Standards-Version: 3.9.2

Package: ros-melodic-franka-hw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-combined-robot-hw, ros-melodic-controller-interface, ros-melodic-franka-msgs, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-libfranka, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-std-srvs, ros-melodic-urdf
Description: franka_hw provides hardware interfaces for using Franka Emika research robots with ros_control
