Source: ros-noetic-franka-description
Section: misc
Priority: optional
Maintainer: Franka Emika GmbH <support@franka.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-rosunit <!nocheck>
Homepage: http://wiki.ros.org/franka_description
Standards-Version: 3.9.2

Package: ros-noetic-franka-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-xacro
Description: franka_description contains URDF files and meshes of Franka Emika robots
